<html>

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />

    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery.formalist.js') }}"></script>
    <script src="{{ url_for('static', filename='conditional.js') }}"></script>
</head>

<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('home') }}">Dashboard</a>
        <a href="{{ url_for('index') }}" class="right-float">Sign In</a>
        <a href="{{ url_for('addstudent') }}" class="right-float">Sign Up</a>
    </div>
    <br><br>
    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">{{user[0][1]}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Roll No: {{data[0][0]}}</h6>
          <h6 class="card-subtitle mb-2 text-muted">Email: {{data[0][1]}}</h6>
        </div>
      </div>
      <br><br>
    <table class="table table-hover " style="margin: auto;width: 85%">
        <!-- <th>Roll No</th> -->
        <!-- <th>Name</th> -->
        <!-- <th> Email </th> -->
        <th> Standard </th>
        <th> Percentage </th>
        <th> Remark </th>
        <th> Grade </th>
        {% for item in data %}
        <tr>
            <!-- <td>{{item[0]}}</td> -->
            <!-- <td>{{user[0][1]}}</td> -->
            <!-- <td>{{item[1]}}</td> -->
            <td>{{item[2]}}</td>
            <td>{{item[3]}}</td>
            <td>{{item[4]}}</td>
            <td>{{item[5]}}</td>
        </tr>

        {% endfor %}
    </table>
</body>

</html>